* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles for mobiles or tablets. */
@media only screen and (max-device-width: 960px) and (orientation: portrait){
  body {
    overflow: hidden;
  }
  .wrapper {
    transform: rotate(90deg);
    transform-origin:bottom left;

    position:absolute;
    top: -100vw;
    left: 0;

    height:100vw;
    width:100vh;

    background-color:#000;
    color:#fff;

    overflow:auto;
  }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape){
}

/* Styles for desktop PCs. */
@media only screen and (min-device-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
