* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 42px;
  font-family: 'Montserrat', 'M PLUS 1p',sans-serif;
  color: black;
  background-color: white;
}

a {
  color: black;
}

a:hover {
  opacity: 0.6;
}

h1 {
  font-size: 100px;
}

/* Styles for mobiles or tablets. */
@media only screen and (max-device-width: 960px) and (orientation: portrait) {
  body {
    overflow: hidden;
  }
  .wrapper {
    transform: rotate(90deg);
    transform-origin: bottom left;
    position: absolute;
    top: -100vw;
    left: 0;
    height: 100vw;
    width: 100vh;
    overflow: auto;

    display: flex;
    justify-content: space-between;
  }

  .img-wrapper {
    width: 60vh;
  }

  .img-100-height {
    height: 100vw;
    position: absolute;
    bottom: 0;
  }

  .text-wrapper {
    padding: 49vw 0 0 0;
    width: 40vh;
  }

  .right {
    padding: 0 100px 0 0;
    text-align: right;
  }
}

@media only screen and (max-device-width: 960px) and (orientation: landscape){
}

/* Styles for desktop PCs. */
@media only screen and (min-device-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
